        /* Custom Styles */
         .custom-bg {
            background-color: #b4b7b9; /* Dark Gray Background */
         }
        .custom-title {
            color: #007bff; /* Bootstrap Primary Color */

        }

        /* Navbar Styling */
        .navbar, .footer {
            background-color: #343a40; /* Dark Gray Background */
            color: white; /* White text */
            text-align: center;
            padding: 10px 0;
        }
        .navbar-brand img {
            height: 2em;
            width: 1.5em;
        }

        /* Footer Styling */
        .footer {
            position: relative;
            bottom: 0;
            width: 100%;
            flex-shrink: 0; /* Prevent footer from shrinking */
        }

        /* Content Section */
        .content {
            margin-top: 56px; /* Height of the navbar */
            padding: 20px;
            background-color: white; 
            flex: 1; /* Ensure content takes up the remaining space */
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            background: linear-gradient(to bottom, 
            #ec4903 0%,    /* Top color */
            #fefefd 50%,   /* Middle color */
            #03761a 100%   /* Bottom color */
            );
        }
        p{
            color: black;
        }
        h2{
            color: black;
        }
        
        html, body {
            height: 100%;
        }

         /* Main Content Styling */
        body {
            display: flex;
            flex-direction: column;
            background: linear-gradient(to bottom, 
                            #ec4903 0%,    /* Top color */
                            #fefefd 50%,   /* Middle color */
                            #03761a 100%   /* Bottom color */
                            );
            width: 100%;
            min-height: 100vh; /* Ensure body takes up full height */
        }
      
        /* Media Query for Responsiveness */
        @media (max-width: 768px) {
            .card {
                width: 100%;
            }

            .navbar-nav {
                text-align: center;
            }
        }

        @media (min-width: 992px) {
            .content {
                padding: 20px;
                margin-top: 56px; /* Adjust if necessary */
            }
        }
