<main class="content pt-3 px-3 py-2  h-100" style="background-color: #fff8cd;">
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 fw-semibold">New Passport Application</h1>


        <div class="card border-0 bg-transparent">
            <div class="card-header border-0 bg-transparent">
                <nav class="navbar navbar-expand-lg">
                  
                    <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-bs-controls="navbarNav" aria-bs-expanded="false" aria-bs-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="row collapse navbar-collapse justify-content-between w-100"  id="navbarNav">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="serviceRequired-tab" data-bs-toggle="tab"
                                    data-bs-target="#serviceRequired" type="button" role="tab"
                                    aria-controls="serviceRequired" aria-selected="true">
                                    Service Required
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="applicantDetails-tab" data-bs-toggle="tab"
                                    data-bs-target="#applicantDetails" type="button" role="tab"
                                    aria-controls="applicantDetails" aria-selected="false">
                                    Applicant Details
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="familyDetails-tab" data-bs-toggle="tab"
                                    data-bs-target="#familyDetails" type="button" role="tab" aria-controls="familyDetails"
                                    aria-selected="false">
                                    Family Details
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="addressDetails-tab" data-bs-toggle="tab"
                                    data-bs-target="#addressDetails" type="button" role="tab" aria-controls="addressDetails"
                                    aria-selected="false">
                                    Address Details
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="emergencyContact-tab" data-bs-toggle="tab"
                                    data-bs-target="#emergencyContact" type="button" role="tab"
                                    aria-controls="emergencyContact" aria-selected="false">
                                    Emergency Contact
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="otherDetails-tab" data-bs-toggle="tab"
                                    data-bs-target="#otherDetails" type="button" role="tab" aria-controls="otherDetails"
                                    aria-selected="false">
                                    Other Details
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="selfDeclaration-tab" data-bs-toggle="tab"
                                    data-bs-target="#selfDeclaration" type="button" role="tab"
                                    aria-controls="selfDeclaration" aria-selected="false">
                                    Self Declaration
                                </button>
                            </li>
                        </ul>
                    </div>
                   
                  </nav>
                
            </div>
            <div class="card-body ">

                <div data-bs-spy="scroll" data-bs-target="#list" data-bs-offset="0" class="scrollspy pt-0">

                    

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="serviceRequired" role="tabpanel"
                                aria-labelledby="serviceRequired-tab">
                                <fieldset class="p-3 justify-content-center">
                                    <legend class="text-center"><b>Service Required</b></legend>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->



                                    <div class="d-flex my-5">
                                        <button id="saveDraftButton4" class="btn btn-warning me-5" type="button">
                                            Save Draft
                                        </button>
                                        <button id="nextButton4" class="btn btn-primary" type="button"
                                            data-bs-toggle="tab" data-bs-target="#applicantDetails">
                                            Next
                                        </button>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="tab-pane fade" id="applicantDetails" role="tabpanel"
                                aria-labelledby="applicantDetails-tab">
                                <fieldset class="p-3">
                                    <legend class="text-center"><b>Applicant Details</b></legend>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                                   

                                    <div class="d-flex my-5">
                                        <button id="saveDraftButton4" class="btn btn-warning me-5" type="button">
                                            Save Draft
                                        </button>
                                        <button id="nextButton4" class="btn btn-primary" type="button"
                                            data-bs-toggle="tab" data-bs-target="#applicantDetails">
                                            Next
                                        </button>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="tab-pane fade" id="familyDetails" role="tabpanel"
                                aria-labelledby="familyDetails-tab">
                                <fieldset class="p-3">
                                    <legend><b>Family Details</b></legend>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


                                    <div class="d-flex my-5">
                                        <button id="saveDraftButton4" class="btn btn-warning me-5" type="button">
                                            Save Draft
                                        </button>
                                        <button id="nextButton4" class="btn btn-primary" type="button"
                                            data-bs-toggle="tab" data-bs-target="#applicantDetails">
                                            Next
                                        </button>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="tab-pane fade" id="addressDetails" role="tabpanel"
                                aria-labelledby="addressDetails-tab">
                                <fieldset class="p-3">
                                    <legend>
                                        <b>Present Residential Address Details (Where applicant
                                            presently resides)</b>
                                    </legend>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                                    

                                   
                                </fieldset>

                                <fieldset class="p-3">
                                    <legend>
                                        <b>Permanent Residential Address Details</b>
                                    </legend>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->



                                    <div class="d-flex my-5">
                                        <button id="saveDraftButton4" class="btn btn-warning me-5" type="button">
                                            Save Draft
                                        </button>
                                        <button id="nextButton4" class="btn btn-primary" type="button"
                                            data-bs-toggle="tab" data-bs-target="#applicantDetails">
                                            Next
                                        </button>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="tab-pane fade" id="emergencyContact" role="tabpanel"
                                aria-labelledby="emergencyContact-tab">
                                <fieldset class="p-3">
                                    <legend><b>Emergency Contact Details</b></legend>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                                   

                                    <div class="d-flex my-5">
                                        <button id="saveDraftButton4" class="btn btn-warning me-5" type="button">
                                            Save Draft
                                        </button>
                                        <button id="nextButton4" class="btn btn-primary" type="button"
                                            data-bs-toggle="tab" data-bs-target="#applicantDetails">
                                            Next
                                        </button>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="tab-pane fade" id="otherDetails" role="tabpanel"
                                aria-labelledby="otherDetails-tab">
                                <fieldset class="p-3">
                                    <legend><b>Other details</b></legend>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

                                  

                                    <div class="d-flex my-5">
                                        <button id="saveDraftButton4" class="btn btn-warning me-5" type="button">
                                            Save Draft
                                        </button>
                                        <button id="nextButton4" class="btn btn-primary" type="button"
                                            data-bs-toggle="tab" data-bs-target="#applicantDetails">
                                            Next
                                        </button>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="tab-pane fade" id="selfDeclaration" role="tabpanel"
                                aria-labelledby="selfDeclaration-tab">
                                <fieldset class="p-3">
                                    <legend><b>Self Declaration</b></legend>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                                    
                                    <div class="d-flex my-5">
                                        <button id="saveDraftButton7" class="btn btn-warning me-5" type="button">
                                            Save Draft
                                        </button>
                                        <button id="goToPaymentButton" class="btn btn-primary" type="button"
                                            data-bs-toggle="modal" data-bs-target="#paymentModal">
                                            Save and go to Payment
                                        </button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
            

                </div>

            </div>
        </div>

    </div>
</main>