<div class="container-fluid g-0 w-100">
 
  <!-- Hero Section -->
    <section class=" hero-section text-center position-relative shadow " style="background-image: url('../../../../assets/bippya.jpg');">
      <img src="../../../../assets/background-image1.png" alt="Passport Hero Image" class="img-fluid shadow-lg" style="filter: brightness(40%); max-height: 650px; max-width: fit-content;">
      <div class="overlay-text position-absolute top-50 start-50 translate-middle text-white w-100">
        <h1 class="mt-4 fw-semibold">Welcome to the Passport Application Portal</h1>
        <q class="fs-5">Your gateway to easy passport application and management</q>
        <div class="mt-4">
          <a id="hero-apply" class="hero-btn btn m-2 rounded-pill ps-5 pe-5"  href="#apply-passport">Apply for Passport</a>
          <a id="hero-status" class="hero-btn btn  rounded-pill ps-5 pe-5"  href="#status-check">Check Application Status</a>
        </div>
      </div>
    </section>

  </div>
  