<main class="content px-3 py-2 h-100">
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 fw-semibold">About Us</h1>

        <div>

            <div class="card border-0 bg-transparent">
                <div class="card-header bg-transparent py-3">
                    <h6 class="m-0 font-weight-bold text-light fs-3"></h6>
                </div>
                <div class="card-body rounded-2 bg-light">

                    <div data-bs-spy="scroll" data-bs-target="#list" data-bs-offset="0"
                        class="scrollspy">
                        <!-- Privacy Policy Content -->
                        <p>Welcome to our Passport Application Portal. We are committed to providing a seamless and user-friendly experience for all your passport application needs. Our team is dedicated to ensuring that you have all the information and support you need to successfully apply for and renew your passport.</p>
                        <p>We understand that the process can sometimes be daunting, and that's why we have designed our portal to be as intuitive and straightforward as possible. Whether you're applying for the first time or renewing an existing passport, our goal is to make the process easy and stress-free.</p>
                        <p>Our services include:</p>
                        <ul>
                            <li>Comprehensive application forms for new and renewal passport applications</li>
                            <li>Tracking and status updates on your application</li>
                            <li>Easy payment options</li>
                            <li>Helpful resources including FAQs, terms and conditions, and privacy policies</li>
                            <li>Responsive customer support for any questions or issues</li>
                        </ul>
                        <p>Thank you for choosing our Passport Application Portal. We are here to help you every step of the way!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>